#!/bin/bash

module purge
module load anaconda/3/2023.03

# The following command replaces `conda init` for the current session
# without touching the .bashrc file:
eval "$(conda shell.bash hook)"

export FEATURES_DIR="/path/to/features" # Directory where the features are saved/stored
export DATA_DIR="/path/to/fmri"         # Directory where the fMRI data is stored
export OUTPUT_DIR="/path/to/outputs"    # Directory where outputs (checkpoints, submission-files, etc.) will be saved
export WANDB_ENTITY="ncg-algonauts"     # (team) or username that owns the project
export WANDB_PROJECT="fmri-model"       # project name